<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <remove name="DynamicContent" />
                <remove name="StaticContent" />
                <remove name="NodeInspector" />
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3232/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
